@{
    ViewData["Title"] = "Admin Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-dark">Admin Home Page</h1>
    <h1 class="display-4 text-dark">The Magic of Italian Football</h1>
    <img src="~/images/serie a.jpg" class="img-fluid mb-3" alt="Responsive image">
    <p class="mytext text-justify text-light h5">
        Serie A is one of the top domestic competitions in Europe. Italy's top football clubs compete for fame, while each year the best four teams try their luck at European competitions as well.

        The annual schedule for the upcoming 2023/24 Serie A has been confirmed. The fixtures are planned to resume on Sunday, August 20, 2023, and come to an end on Sunday, May 26, 2024. During the weekend of January 6-7, all teams will participate in matches, excluding the four finalists of the Super Cup held in Saudi Arabia. The semifinals of the Super Cup are scheduled for January 4-5, followed by the final on January 8.

        Napoli were crowned as the Serie A Champions for the 2022/23 season, with Lazio, Inter Milan and Milan following them in the top four.

        Meanwhile, Cremonese and Sampdoria were relegated to the second division, giving up their place to the promoted teams, Frosinone and Genoa. After the relegation battle with Spezia, Verona secured their place in the first division. Meanwhile, Cagliari beat Bari in the play-offs to get promoted from the Serie B.
    </p>
    <div class="mb-3 mt-3">
        <h3 class="justify-content-center text-light">Napoli - Serie A Champion 2022/23</h3>
        <img src="~/images/napoli.jpg" class="img-fluid mb-5" alt="Responsive image">
    </div>
    <p class="mytext text-justify text-light h5">
        The 2023/2024 BKT Series Championship starts on Saturday, August 19, 2023.
        Serie BKT is the beating heart of Italian football
        , a competition that brings together the talent and
        grit of teams from all over the country. This year,
        the championship promises to be more captivating than ever, with teams giving their all to gain promotion
        to Serie A. Bari will try to redeem themselves after the disappointment of the playoffs, while clubs such as Sampdoria, Cremonese and Spezia will try with determination to return to the top flight. There will be surprises and emotions, and you can experience all of this from the comfort of your home.
    </p>
    <div class="mb-3 mt-3">
        <h3 class="justify-content-center text-light">Frosinone - Serie B Champion 2022/23</h3>
        <img src="~/images/frosinone.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <p></p>
</div>

