@model IEnumerable<LeagueViewModel>

@{
    ViewBag.Title = "Italian leagues";
}

<div class="text-center row">
    @foreach (var league in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
             src="@league.LogoImageUrl" alt="League Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@league.Name</h5>
                <p class="mb-0">Country: @league.Country</p>
            </div>
            <div class="mb-3">
                <a asp-action="Edit" asp-area="" asp-controller="League" asp-route-id="@league.Id" class="btn btn-primary" >Edit</a>
            </div>
        </div>
    }
</div>
