@model IEnumerable<LeagueViewModel>

@{
    ViewBag.Title = "Italian leagues";
}

<div class=" d-flex justify-content-around">
    @foreach (var league in Model)
    {
        <div class="card w-25">
            <img class="card-img-top" src="@league.LogoImageUrl" alt="Card image cap">
            <div class="card-body ">
                <h5 class="card-title text-center">@league.Name</h5>

            </div>
            <div class="btn-group d-flex justify-content-center">
            <div class="mb-3 text-center p-2">
                <a asp-action="Edit" asp-area="" asp-controller="League" asp-route-id="@league.Id" class="btn btn-primary">Edit</a>
            </div>
            <div class="mb-3 text-center p-2">
                <a asp-action="Index" asp-area="" asp-controller="FootballClub"  class="btn btn-primary">Football Clubs</a>
            </div>
            </div>
        </div>
    }
</div>
