@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<h3 class="text-light text-center">Calciolandia is a website for Italian football.
    Latest information about Italian leagues, clubs, players and transfers.
    We work in short time to present forum for discussing with other fans all important things about your favourite club.
Become part of our community and enjoy with Italian football.</h3>
<div class="d-flex mt-5">
<img src="~/images/image1.jpg" class="rounded mx-auto d-block" alt="...">
</div>
