@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (!User?.Identity?.IsAuthenticated ?? false)
    {
        <h3><span class="d-block p-2 bg-dark text-warning">Register and join us to see all information for football teams who compete in Italian leagues</span></h3>
    }
    <h1 class="display-4 text-light">The Magic of Italian Football</h1>   
    <img src="~/images/serie a.jpg" class="img-fluid mb-3" alt="Responsive image">
    <p class="mytext text-justify text-light h5">
        Serie A is one of the top domestic competitions in Europe. Italy's top football clubs compete for fame, while each year the best four teams try their luck at European competitions as well.

        The annual schedule for the upcoming 2023/24 Serie A has been confirmed. The fixtures are planned to resume on Sunday, August 20, 2023, and come to an end on Sunday, May 26, 2024. During the weekend of January 6-7, all teams will participate in matches, excluding the four finalists of the Super Cup held in Saudi Arabia. The semifinals of the Super Cup are scheduled for January 4-5, followed by the final on January 8.

        Napoli were crowned as the Serie A Champions for the 2022/23 season, with Lazio, Inter Milan and Milan following them in the top four.

        Meanwhile, Cremonese and Sampdoria were relegated to the second division, giving up their place to the promoted teams, Frosinone and Genoa. After the relegation battle with Spezia, Verona secured their place in the first division. Meanwhile, Cagliari beat Bari in the play-offs to get promoted from the Serie B.
    </p>
    <div class="mb-3 mt-5">
        <h3 class="justify-content-center text-light">Napoli - Serie A Champion 2022/23</h3>
        <img src="~/images/napoli.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div>
        <h3 class="justify-content-center text-light">Frosinone - Serie B Champion 2022/23</h3>
        <img src="~/images/frosinone.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <p></p>
</div>

