html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

nav{
    padding-left: 5px;
    padding-right: 5px;
}

.mytext{
    line-height: 4vh;
}

/*.card{
    margin-right: 1%;
    margin-left: 1%;
}*/


body {
    /*margin-bottom: 60px;*/
    /*background-image: url('C:\Users\Home\source\repos\Calciolandia-Website\Calciolandia-Website\wwwroot');*/
    /*background-color: cornflowerblue;*/
}

.button-box {
    text-align: center;
    margin-top: 20px;
}